* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
}
.container-home {
  background-color: bisque;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 3rem;
  text-transform: capitalize;
  margin-top: 20px;
  color: green;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
}
.login {
  padding: 20px 10px;
  margin-top: 20px;
  text-align: center;
  font-size: 1.5rem;
  background-color: greenyellow;
  width: 80vw;
}
.searchPage {
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  display: flex;
  width: 40%;
  flex-direction: column;
  background-color: bisque;
  border-radius: 8px;
  padding: 20px 10px;
}
form .searchPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputElement {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.inputElement label {
  font-size: 1rem;
  font-weight: bold;
}
form button {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: blueviolet;
  color: white;
}
#loginButton {
  width: 200px;
  border-radius: 8px;
  align-self: center;
  background-color: azure;
  color: black;
}
.inputElement input {
  font-size: 1rem;
  font-weight: bold;
  height: 40px;
}
.home {
  padding: 20px;
  width: 100%;
  background-color: skyblue;
  height: 20px;
}
.search {
  margin-top: 20px;
  display: flex;
  padding: 20px 10px;
  background-color: blue;
  border-radius: 8px;
  width: 80vw;
  justify-content: center;
}
.search input {
  height: 40px;
  padding: 10px;
  margin-right: 10px;
  font-size: 1.25rem;
}
.search button {
  padding: 5px;
  font-size: 1.25rem;
  width: 100px;
}
.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.item {
  padding: 10px;
  background-color: white;
  border: 1px solid #888888;
  width: 400px;
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: 2px 2px #888888;
}
.item a {
  padding: 10px;
}
